@font-face {
    font-family: 'nino_mkhedruli';
    src: url('../fonts/nino_mkhedruli.otf');
}
@font-face {
    font-family: 'bpg_glaho';
    src: url('../fonts/bpg_glaho.ttf');
}
@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon//icomoon.ttf');
}
::placeholder {
	color: #989898;
	font-size: 14px;
}
* {	
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body {
	font-family: nino_mkhedruli;
	background-color: #fff;
}
ul {
	display: flex;
}
a, h1, h2, h3, h4, h5, h6 {
	font-family: bpg_glaho;
	transition: 300ms color ease;
}
a {
	color: #000;
	font-size: 20px;
}
/*animations - keyframes*/
@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes zoom-back {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(0) scale(1.2);
            transform: translateZ(0) scale(1.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-30em);
            transform: translateZ(-30em);
  }
}
@keyframes fade_down {
  0% {
    opacity: 0;
    transform: translateY(-4em);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes anchor-underline {
  0%, 10% {
    left: 0;
    right: 100%;
  }
  40%, 60% {
    left: 0;
    right: 0;
  }
  90%, 100% {
    left: 100%;
    right: 0;
  }
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes no-transform {
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes btnEntrance { 
	from {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
	to {
		opacity: 1;
	}    
} 
@keyframes btnExit {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}
} 
/*animations - keyframes end*/
/*header*/
header {
	height: 100px;
	display: flex;
	justify-content: space-between;
    align-items: center;
    opacity: 0;
}
header.is-visible {
	animation: fadeInRight 2s forwards;
}
a.logo path {
	fill: #000;
}
.navbar-toggler {
	display: none;
}
.header_navigation {
	width: 625px;
	display: flex;
	justify-content: space-between;
}
.header_navigation a:hover {
	color: #B8EDF8;
} 
/*header ends*/
/*hero*/
.hero {
	width: 100%;
	height: calc(100vh - 100px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.main_pic {
	width: 100%;
	height: calc(100vh - 100px);
	position: absolute;
	top: 100px;
	left: 0;
	z-index: -1;
	object-fit: cover;
	animation-delay: .5s;
}
.hero_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
}
.hero_content p.is-visible {
	opacity: 0;
	animation: zoom-back  10s .5s cubic-bezier(0,0,0,1) forwards;
}
.hero_title {
	font-size: 40px;
	line-height: 40px;
}
.hero_title.is-visible span {
	opacity: 0;
	animation: no-transform linear 4s forwards;
}
.hero_title.is-visible span:nth-child(1) {
	animation-delay: 0.8s; 
}
.hero_title.is-visible span:nth-child(2) { 
	animation-delay: 3s; 
}
.hero_title.is-visible span:nth-child(3) {
	animation-delay: 3s; 
}
.hero_title.is-visible span:nth-child(4) { 
	animation-delay: 2.5s;
}
.hero_content.is-visible p {
	font-size: 30px;
	animation-delay: 4s;
}
/*hero end*/
/*services*/
.services {
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 55px 0;
}
.title {
	position: relative;
	text-align: center;
}
.title.is-visible, .main_pic.is-visible {
	animation: fade_down 2s forwards;
}
.title:hover, .services_content_title:hover {
	color: #B8EDF8;
}
.contact .title:hover{
	color: #BADC58;
}
.title:after {
	content: '';
	display: block;
	width: 93px;
	height: 1px;
	position: absolute;
	left: 0;
	right: 0;
	background: #333;
	margin: 10px auto 0;
}
.services_menu {
	display: flex;
	flex-wrap: wrap;
	padding-top: 60px;
}
.services_menu.is-visible, .contact_form.is-visible  {
	animation: fadeInRight 2s forwards;
}
.services_content {
    width: calc(25% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4px;
    padding: 30px 0 8px;
    border: 1px solid transparent;
}
.services_content p {
	text-align: center;
}
.services_content_img {
	width: 100px;
	height: auto;
	position: relative;
	text-align: center;
	object-fit: cover;
}
.services_content_img::after {
	content: "";
	position: absolute;
	bottom: 0;
	margin-bottom: -10px;
	border-top: 1px solid #2F56B0;
	transition: border-color .4s ease-out;
}
.services_content_img::after{
	animation: anchor-underline 2s cubic-bezier(0,.5,0,1) infinite;
	border-color: #B8EDF8;
}
.services_content_title {
	padding: 35px 0 10px;
}
/*services end*/
/*portfolio*/
.portfolio {
	display: flex;
	flex-direction: column;
}
.portfolio_content {
	display: flex;
	flex-wrap: wrap;
	margin: 50px 0;
}
.portfolio_content.is-visible {
	animation: fadeInUp 2s forwards;
}
.portfolio_content_img {
	width: calc(33% - 25px);
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 0 25px 25px 0;
	overflow: hidden;
	background-color: transparent;
}
.overlay {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	opacity: 0;
	background: #B8EDF8;
	transition: all .5s ease-in-out;
}
.content {
	text-align: center;
}
.portfolio_content_img:hover .overlay {
	opacity: .9;
}
.content a {
	color: #fff;
}
.img {
	width: 100%;
	object-fit: cover;
}
/*portfolio end*/
/*about*/
.aboutme{
	background: #F1F1F1;
}
.aboutme.is-visible {
	animation: fadeInLeft 2s forwards;
}
.about {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
}
.about_title {
	padding-bottom: 20px;
}
.about_title:hover{
	color: #BADC58;
}
.about_title::after {
	content: "";
    display: block;
    width: 93px;
    height: 1px;
    border-bottom: 1px solid #333;
}
.about_img {
	width: 40%;
	position: relative;
	z-index: 1;
}
.about_img img {
	width: 100%;
	object-fit: cover;
}
.about_img::after{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: #B8EDF8;
	position: absolute;
	left: 30px;
	top: 30px;
	z-index: -1;
}
.about_content {
	width: calc(50% - 10px);
	height: 236px;
	font-size: 16px;
	overflow: hidden;
	border: none;
	margin-left: 10px;
}
.about_content p {
	padding-bottom: 10px;
}
/*about end*/
/*contact*/
.contact {
	padding: 50px 0 100px 0;
	background-color: #B8EDF8;
}
.contact_form {
	max-width: 555px;
	position: relative;
	margin: 57px auto 0;
}
.contact_form input, .contact_form textarea{
    width: 100%;
    padding: 12px 0 12px 28px;
    margin-bottom: 20px;
    border: 2px solid #333;
}
.send_info {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.send_info_title {
	font-size: 14px;
	color: #666666;
}
input.send{
    width: 100px;
    font-family: bpg_glaho;
    font-size: 20px;
	color: #fff;
    padding: 10px;
    background-color: #7EC4CE;
    border: none;
}
input.send:hover{
	cursor: pointer;
	color: #666;
	animation: fadeIn .5s forwards;
}
.modal {
	display: none;
}
/* Modal Content */
.modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #B8EDF8;
    animation: fadeIn .5s forwards;
}
/*contact end*/
/*footer*/
footer {
	font-size: 14px;
	color: #fff;
	padding: 34px 0;
	background-color: #313332;
}
footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer img{
	width: 162px;
}
/*scroll to top*/
.icon-arrow-up {
	font-size: 15px;
	font-family: 'icomoon';
}
.icon-arrow-up:before {
	content: "\e900";
}
.back-to-top-btn {
  width: 35px;
  height: 35px;
  display: none;
  position: fixed;
  bottom: 14px;
  right: 8px;
  color: #333;
  background-color: #fff;
  outline: none;
  border: 3px solid #333;
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
.back-to-top-btn:hover, .back-to-top-btn:focus {
  cursor: pointer;
  color: #fff;  
  background-color: #333;
}
/* Animations */
.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}
.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
}
/*scroll to top end*/
/*footer end*/
/*responsive*/
@media(max-width: 575px){
	.send_info_title {
		font-size: 12px;
	}
	footer .container{
		display: flex;
		flex-direction: column;
	}
	footer img{
		margin: 20px 0;
	}
}
@media(max-width: 767px){
	/*erti sveti*/
	.hero_title {
		font-size: 24px;
	}
	.hero_content p {
		font-size: 20px;
	}
	/*services*/
	.services_content {
		width: 100%;
	}
	/*services end*/
	/*portfolio*/
	.portfolio_content_img {
		width: 100%;
		align-items: center;
		margin: 0 0 30px 0;
	}
	/*portfolio end*/
	/*about*/
	
	.about {
		display: flex;
		flex-direction: column;
	}
	.about_img {
		width: 100%;
	}
	.about_img::after {
		width: 90%;
	}
	.about_img img {
		width: 90%;
	}
	.about_content {
		width: 100%;
		margin-top: 100px;
	}
	/*about end*/
}
@media(max-width: 991px) {
	/*responsive menu*/
	header.is-visible {
		opacity: 1;
		animation: none;
	}
	nav {
		display: none;
	}
	/*toogler with effets*/
	.navbar-toggler {
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		border: 2px solid #B8EDF8;
		outline: none;
		padding: 5px;
		cursor: pointer;
	}
	.navbar-toggler span, .navbar-toggler span::before, .navbar-toggler span::after {
		content: '';
		display: block;
		height: 3px;
		width: 20px;
		background-color: #B8EDF8;
		border-radius: 10px;
		transition: all 0.35s ease-in-out;
	}
	.navbar-toggler span::before {
		transform: translateY(-8px);
	}
	.navbar-toggler span::after {
		transform: translateY(5px);
	}
	.navbar-toggler.open-navbar-toggler span {
		background-color: transparent;
	}
	.navbar-toggler.open-navbar-toggler span::before {
		transform: translateY(0px) scale(0.75) rotate(45deg); 
	}
	.navbar-toggler.open-navbar-toggler span::after {
		transform: translateY(-3px) scale(0.75) rotate(-45deg); 
	}
	/*toggler end*/
	nav {
		transition: top .100s ease-in;
	}
	nav.open {
		width: 100%;
		height: calc(100vh - 100px);
		display: flex;
		background: #B8EDF8;
		position: absolute;
		top: 100px;
		left: 0;
		z-index: 3;
		transition: top .5s ease-out;
	}
	.open .header_navigation {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.open .header_navigation a {
		color: #000;
		line-height: 60px;
	}
	.open .header_navigation a:hover {
		color: #BADC58;
	}
}
@media(min-width: 768px) and (max-width: 1365px){
	/*services*/
	.services_content {
		width: calc(50% - 10px);
	}
	/*services end*/
	/*portfolio*/
	.portfolio_content_img {
		width: calc(50% - 30px);
	}
	/*portfolio end*/
}
@media(max-width: 1365px){
	header, .container, .services, .portfolio {
		max-width: 90%;
		margin: 0 auto;
	}
}
@media(min-width: 1366px){
	header, .container, .services, .portfolio {
		max-width: 1152px;
		margin: 0 auto;
	}
}
